<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjOlNI3seFbWLA3lEXAvWPOKtZb-7nsjU</string>
	<key>GCM_SENDER_ID</key>
	<string>158559196141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.isoftco.ibomgpt.app</string>
	<key>PROJECT_ID</key>
	<string>ibom-6a52d</string>
	<key>STORAGE_BUCKET</key>
	<string>ibom-6a52d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158559196141:ios:a60ecabf661a7bf166cde4</string>
</dict>
</plist>